<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696464140279-hbr089kghdbgmrc6a7q0hqop0nethdd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696464140279-hbr089kghdbgmrc6a7q0hqop0nethdd8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2JqEGG5Q4Voqjee3V2bp7Ucx9tuKlESY</string>
	<key>GCM_SENDER_ID</key>
	<string>696464140279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mustafaUysal.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-667b7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-667b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696464140279:ios:a5ae4bab19ade163a970f2</string>
</dict>
</plist>